.header__lang-link {
    position: absolute;
    width: 1px; 
    height: 1px;
    overflow: hidden; 
    clip-path: inset(0 0 0 0);
}

.header__lang-link:checked + .header__lang-link_pseudo {
    text-decoration: underline;
}