.header__lang-button {
    vertical-align: baseline;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #fff;
    padding-right: 18px;
    transition: opacity .2s ease-out;
    text-decoration: none;
}

.header__lang-button:last-of-type {
    padding-right: 0px;
}

.header__lang-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__lang-button {
        font-size: 18px;
        line-height: 20px;
    }
}