.photo-grid {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 16px;
    margin: 0px auto;
    padding-bottom: 92px;
}

@media screen and (max-width: 767px) {
    .photo-grid {
        padding-bottom: 64px;
    }
}