.place__paragraph {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 29px;
    margin: 0px;
    padding-bottom: 26px;
}

.place__paragraph:last-of-type {
    padding-bottom: 0px;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        max-width: calc(100% - (16px*2));
        margin: 0px auto;
    }
}