.footer__copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: end;
    color: #fff;
    margin: 0px;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        text-align: left;
        line-height: 14px;
    }
}