.lead__caption {
    font-size: 10px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    margin: 0px auto;
    padding-top: 8px;
}

@media screen and (max-width: 767px) {
    .lead__caption {
        max-width: 90%;
    }   
}