.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 40px 48px;
    padding-bottom: 92px;
    max-width: 100%;
}

@media screen and (max-width: 1279px) {
    .place {
        gap: 32px 48px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        gap: 28px 48px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        gap: 32px;
        padding-bottom: 50px;
    }

    .place:last-of-type {
        padding-bottom: 66px;
    }
}