.footer {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
    padding-top: 92px;
    padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 64px;
        flex-direction: column;
    }
}